.form-control:focus {
    border-color: var(--app-primary) !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #efefef;
}

.navbar-toggler {
    background-color: #fadcff;
    color: var(--app-primary) !important;
}

.hero {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(to left bottom, #f8cdff, #d2f1ff);*/
    background-image: url("../img/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.hero-text {
    font-weight: 900;
    font-size: 72px !important;
    color: #fff;
}

.text-gradient {
    background: -webkit-linear-gradient(var(--app-primary), var(--other));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-cta,
.btn-cta-outline {
    border: 2px solid;
}

.btn-cta {
    background-color: var(--app-primary);
    box-shadow: 0px 0px 8px var(--app-primary) !important;
    border-color: var(--app-primary);
}

.btn-cta-outline {
    background-color: transparent;
    color: #fff !important;
    border-color: var(--app-primary);
    box-shadow: 0px 0px 8px var(--app-primary) !important;
}

.btn-cta:hover {
    background-color: #ba23d4 !important;
    border-color: #ba23d4 !important;
}

.btn-cta-outline:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px 0px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
    /*box-shadow: 0px 0px 8px #ddd;*/
}

.intro-logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.intro-logo img {
    padding: 10px;
}

p {
    font-size: 1.2em;
}

#a {
    quotes: "\201C""\201D";
    color: var(--app-primary);
}

.text-app-primary {
    color: var(--app-primary) !important;
}

li {
    font-size: 1.1em;
}

.footer {
    padding: 20px;
    background-color: #460a51;
}

@media screen and (max-width: 500px) {
    .hero-text {
        font-size: 3em !important;
    }

    .hero-btn-group {
        flex-direction: column !important;
        justify-content: center;
    }

    .hero-btn-group a {
        width: 50%;
        margin-right: 0 !important;
    }

    .hero-btn-group .hero-single-btn:not(:last-child) {
        margin-bottom: 10px;
    }

    .mask img {
        margin-top: 3rem !important;
    }
}

:root {
    --app-primary: #DF24FF;
    --other: #00B1FF;
}