<!-- The Modal -->
<div id="modal_wallet_address" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="wallet modal-close">&times;</span>
        <div class="text-center">
            <h4 class="wallAddr-title">Link an address</h4>
            <p class="mt-20 wallAddr-desc">Add a wallet address that you own and link it to your profile.<br><br><span
                    class="text-primary">This will allow you to buy NFTs easily</span></p>
        </div>
        <form id="form_wallet_addr" class="walletAddr-form">
            <div class="form-group">
                <input octavalidate="R,TEXT" id="inp_addr" class="form-control wallet-addr" placeholder="zzz-zzz-zzz">
            </div>
            <div class="form-group">
                <button class="btn-act w-100">Add address</button>
            </div>
        </form>
    </div>
</div>