/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
}

pre {
  font-family: 'Roboto', sans-serif;
}

.fw-bold {
  font-weight: bold;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.page-wrapper>aside.menu.left-panel {
  width: 0px;
  height: 100%;
  padding: 0px;
  -webkit-box-orient: vertical;
  z-index: 1050;
  background: none;
  background-color: #fff !important;
  overflow-x: hidden;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

div.main-content {
  width: 100%;
}

.header-wrap {
  -webkit-box-shadow: 0px 0px 5px #ddd;
  box-shadow: 0px 0px 5px #ddd;
  padding: 5px;
  background-color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: justify;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
}

.closebtncont {
  text-align: right;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.navbar-item {
  -ms-flex-item-align: center;
  align-self: center;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

#menuBtn {
  display: block;
}

.search-form>input {
  max-width: 350px;
}

.text-center {
  text-align: center;
}

.td-has-icon {
  width: 10%;
}

.upd-table * {
  border: 0 !important;
}

.b-eee {
  background-color: #eee;
}

.btn-rounded {
  width: 40px;
  height: 40px;
  border-radius: 50em;
}

.menu-list a:hover {
  background-color: #d5fff9;
  transition: ease-in .2s;
}

footer.footer {
  background-color: #f7f7f7;
  padding: 2rem 2rem;
}

footer.footer .openbase {
  color: #257953;
}

@media only screen and (min-width: 300px and max-width:500px) {
  aside.menu.left-panel {
    width: 0px;
    padding: 0px;
    z-index: 1050;
    background: none;
    background-color: #fff;
  }

  .navbar {
    text-align: right;
  }
}

@media only screen and (min-width: 1000px and max-width: 1024px) {
  .search-form>input {
    max-width: 500px;
  }
}