html,
body {
    font-family: 'Poppins', sans-serif;
}

body.dark {
    color: #fff;
    background-color: #0c0c0c;
    scroll-behavior: initial;
}
body.dark .form-control{
    background-color: #0c0c10;
border: 2px solid #1c1c1c;
color:#fff;
}

body.light {
    color: #000;
    background-color: #fff;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--text-medium);
    line-height: var(--text-lh-medium);
    font-weight: 700;
}

h1 {
    margin: 0px;
    line-height: 40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.nav-area {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid inherit;
    background-color: rgb(153 164 255 / 11%);
    width: 100%;
    z-index: 5555555;
    top: 0;
    height: 70px;
    position:fixed;
}

.main {
    margin-top: 70px;
}

.nav-area .nav-brand {
    flex-basis: 15%;
    align-self: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center
}

.pb-70 {
    padding-bottom: 70px
}

.pt-70 {
    padding-top: 70px
}

.pt-50 {
    padding-top: 50px
}

.pt-100 {
    padding-top: 100px;
}

.pt-pb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

a.nav-brand {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-area .nav-search-area {
    flex-basis: 35%;

}

.nav-search-area .input input {
    width: 80%;
    height:100%;
    border: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-search-area .input button {
    width: 20%;
    height:100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-area .nav-menu-area {
    align-self: center;
    flex-basis: 50%;
    display: inline-flex;
    justify-content: center;
}

.nav-menu-area ul {
    display: flex;
    align-self: center;
    list-style-type: none;
}

.nav-menu-area ul li:not(:last-child) {
    margin-right: 20px;
}

input {
    border-radius: 5px;
    padding: 10px;
    padding-inline-start: 15px;
    width: 100%;
    border: 2px solid transparent;
    height: 45px;
    background-color: rgba(255, 255, 255, 1);
    /*box-shadow: 0 0 50px 1px #c1caef;*/
    font-size: .9rem;
}

.nav-search-area .input:hover {
    box-shadow: 3px 3px 0px 0px #04aa6d;
}


img {
    max-width: 100%;
    width: 100%;
}

.nft-section {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 40px;
}

.nft-item {
    width: 300px;
    height: 350px;
    overflow: hidden !important;
    position: relative;
    box-shadow: 7px 9px 0px 0px #015238;
}

.nft-item img {
    position: absolute;
    height: 100%;
}

footer {
    color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgb(24, 104, 183);
}

.d-flex {
    display: flex;
}

.w-50 {
    width: 50%
}

.bg-white {
    background-color: #fff !important
}

.input {
    background-color: #fff;
    border-radius: 5px;
    height:100%;
}
.nft-price{
    position: absolute;
    background-color: #015238;
    color: #fff;
    padding: 5px;
    z-index: 5555;
}
.nft-desc {
    position: absolute;
    z-index: 5;
    top: 65%;
    height: 150px;
    width: 300px;
    background-color: #1b1c26c2;
    padding: 10px;
    overflow: hidden;
    border-radius: 0 0 20px;
}

.nft-desc h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.nft-desc p {
    color: #fff;
}

.nft-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('nft.png') 50% 50% !important;
    height: 100%;
}

footer h5 {
    font-size: 1.2rem;
    color: #fff;
}

.pre-title {
    color: #009d6a;
    font-size: 1rem;
    font-weight: 600;
}

.desc {
    font-size: 1rem;
    color: #5e5e5e;
    line-height: 1.5rem;
}

.btn-cta {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: var(--primary);
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-cta-outline{
    background-color: transparent !important;
    border-color:var(--primary) !important;
    color:var(--primary) !important;
}
.btn-cta-outline:hover{
    background-color: var(--primary) !important;
    border-color:var(--primary) !important;
    color:#000 !important;
}
.btn-danger{
    padding: 10px;
   border-radius: 5px;
   font-size: 1rem;
   border: 2px solid transparent;
   background-color: var(--danger);
   height: 50px;
   cursor: pointer;
   text-transform: uppercase;
}
.btn-danger-outline{
   background-color: transparent !important;
   border-color:var(--danger) !important;
   color:var(--danger) !important;
}
.btn-danger-outline:hover{
   background-color: var(--danger) !important;
   border-color:var(--danger) !important;
   color:#000 !important;
}
.w-100{
    width:100%
}
.btn-act {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: #00eba0;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-cta:hover {
    transform: translateY(-10px);
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #1c1d27;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

nav a:hover {
    color: #04AA6D
}

.text-primary {
    color: var(--primary) !important;
}

.text-danger{
    color: var(--danger) !important;
}

.text-light{
    color: #fff !important
}

button,
a {
    cursor: pointer
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight:600
}

.form-control {
    border: 2px solid #ddd;
    border-radius:5px;
}
textarea.form-control {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}
.form-section {
    box-shadow: 0px 0px 8px #ddd;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input.form-control:focus, textarea.form-control:focus {
    border-color: var(--primary) !important;
}
.d-block{
    display:block;
}
.btn-auth {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: #00eba0;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

button[disabled]{
    background-color: #79edc8;
    cursor:not-allowed;
}

.theme-switch {
    position: fixed;
    top: 80%;
    right: 3%;
    box-shadow: 0px 0px 8px #00dca0;
    border-radius: 50%;
}

.theme-switch button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    color: var(--primary);
    color: var(--primary);
    background-color: #015238;
}

.theme-switch i {
    font-size: 1.5em
}

.cart-count{
    color:var(--primary);
    padding:5px;
}

.p-20 {
    padding: 20px
}
.nft-list{
    max-width: 300px;
margin: auto;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
z-index:999999999;
}

/* Modal Content/Box */
.modal-content {
background-color: #171822;
margin: 15% auto;
padding: 20px;
/* border: 1px solid #888; */
width: 70%;
border-radius: 20px;
}

.modal-content div{
    clear:both;
}
/* The Close Button */
.modal-close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
color: var(--primary);
text-decoration: none;
cursor: pointer;
}
.form-control.wallet-addr{
background-color: #0c0c10;
border: 2px solid #1c1c1c;
color:#fff;
}
.wallAddr-title{
    font-size: 1.4em;
    color: var(--primary);
}
.wallAddr-desc{
color:#fff
}
.walletAddr-form{
max-width:300px;margin:20px auto;
}
@media screen and (min-width:0px) and (max-width:700px) {
    .nft-section {
        flex-direction: column;
    }

    .nft-item {
        margin: auto auto 50px auto;
        margin-right: auto !important;
    }
}
/*When to show mobile nav bar*/
@media screen and (min-width:0px) and (max-width: 720px) {
    .nav-area {
        display: none !important;
    }

    .nav-area-mobile {
        display: block !important;
    }

    /* remove margin top because of position fixed */
    .main {
        margin-top: 0 !important;
    }
}

:root {
    --primary: #00eba0;
    --danger:#f14668;
    --text-large: 48px;
    --text-medium: 32px;
    --text-small: 24px;
    --text-lh-large: 56px;
    --text-lh-medium: 40px;
    --text-lh-small: 32px;
}